link#bootstrap-css(href='css/bootstrap.css', rel='stylesheet')
link#custom-css(href='custom_css/about.css', rel='stylesheet')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
// ---- Include the above in your HEAD tag --------
link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
style.
	.aboutus-banner{
		position: relative;
		right: 70px;
		width: 500px;
	}
	.aboutus-section p{
		font-size: 18px;
		line-height:150%;
	}
	.glyphicon{
			
	}
#navbar
.aboutus-section
	.container
		.row
			.col-md-3.col-sm-6.col-xs-12
				.aboutus
					h2.aboutus-title About Us
					p.aboutus-text
						| 웹서버 구축
					p.aboutus-text
						| Node.js 를 활용한 웹서버 구축을
						br
						| 연습중에 있습니다. 
					p.aboutus-text
						|  
			.col-md-3.col-sm-6.col-xs-12
				.aboutus-banner
					img(src='images/drib_blink_bot.gif', alt='')
script.
	$(document).ready(function(){
		$('#navbar').load('http://localhost:3000/header');
	});
