doctype html
head
	meta(charset='utf-8')
	title CodingTogether
	link(href='css/jumbotron.css', rel='stylesheet')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
nav.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Node.js server 
		#myNavbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='/') Home
				li
					a(href='practice') Practice
				li
					a(href='commuity?page=1') Commuity
				li
					a(href='about') About us
			ul.nav.navbar-nav.navbar-right
				li
					a#login(href='login')
						span.glyphicon.glyphicon-log-in
						|	Login
					a#logout(href='logout')
						span.glyphicon.glyphicon-log-in
						|	Logout
				li
					a(href='mypage')
						span.glyphicon.glyphicon-user
						|	마이 페이지

		script.
			var f = !{login};
			$(document).ready(function(){
				if(f){	//로그인 상태일 때
					$("#login").hide()
					$("#logout").show()
				}
				else{	//로그인 상태가 아닐 때
					$("#logout").hide()
					$("#login").show()
				}
			});

