doctype html
head
	meta(charset-='UTF-8')
	meta(name='viewport', content='width = device-width', initial-scale='1')
	title CodingTogether
	link(rel='stylesheet', href='css/bootstrap.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
style(type='text/css').
	.jumbotron{
	background-image : url('images/nodejs.png');
	text-shadow : black 0.2em 0.2em 0.2em;
	}
	#footer{
		background-color: #000000;
		color:#ffffff;
		position:fixed;
		bottom:0;
		width:100%;
		height:60px; 
	}
script.
	const images = !{data}
	setInterval(function(){
		$('.jumbotron').css({'background-image' : 'url('+images[Math.floor(Math.random()*3)+0]+')'})
	},2000)
	$(document).ready(function(){
		$('#navbar').load('http://localhost:3000/header')
	});
#navbar
.container
	.jumbotron#jumbo
		h1.text-center(style="color:white;") 안녕하세요 
		p.text-center
			a.btn.btn-primary.btn-lg(href='practice', role='button') Let's go
.row
#footer
	.container
		.row
			.col-sm-4(style='text-align:left;')
				h4 Copyright &copy; 2018 bubobubo 
				h5 이주형 

