doctype html
head
	meta(charset-='UTF-8')
	meta(name='viewport', content='width = device-width', initial-scale='1')
	title CodingTogether
	link(rel='stylesheet', href='css/bootstrap.css')
	link(rel='stylesheet', href='custom_css/index.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
body
	//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlreNY42qO7GiCXdwTSNsedHgw5kU9R4k&callback=initMap" async defer)
#navbar
.container
	.jumbotron(style='background:transparent;')
		.clock
			h1.text-center(style="color:white;") 
		p.text-center
			a.btn.btn-primary.btn-lg(href='practice', role='button') Let's go
			div(id="map")
.row
#footer
	.container
		.row
			.col-sm-4(style='text-align:left;')
				h4 Copyright &copy; 2018 bubobubo 
				h5 이주형 
script.
	const imgNum = !{imgNum}	//이미지 개수
	const body = document.querySelector("body")
	let currImg=1;
	const image = new Image();
	const clockContainer = document.querySelector(".clock"),
	clock = clockContainer.querySelector('h1')
	$(document).ready(function(){
		$('#navbar').load('http://localhost:3000/header')
	});
	function paintImage() {
		const file = genNum();
		image.src = "images/"+file+".jpg"
		image.classList.add('bgImage')
		body.appendChild(image)
	}
	function genNum() {
		currImg >= imgNum-2 ? currImg=1 : currImg++;
		return currImg 
	}
	function getTime(){
		const date = new Date();
		const hours = date.getHours();
		const minutes = date.getMinutes();
		const seconds = date.getSeconds();
		clock.innerHTML = (hours<10 ? "0"+hours : hours)+':'+(minutes<10 ? "0"+minutes : minutes)+':'+(seconds<10 ? "0"+seconds : seconds)
	}
	function handleGeoSuccess(position){
		const latitude = position.coords.latitude;
		const longitude = position.coords.longitude;
		const coordsObj = {
			latitude,
			longitude
		};
		localStorage.setItem('coords',JSON.stringify(coordsObj));
	}
	function handleGeoError() {
		console.log('error')
	}
	function askForCoords(){
		navigator.geolocation.getCurrentPosition(handleGeoSuccess,handleGeoError)
	}
	function loadCoords(){
		const loadCoords = localStorage.getItem('coords');
		if(loadCoords===null)
			askForCoords();
		else{
				
		}
	}
	/*
	function initMap(){
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			zoom: 8
		});
	}
	*/
	function init() {
		getTime();
		setInterval(getTime,1000)
		paintImage();
		setInterval(paintImage,2000)
		loadCoords();
	}
	init();
